/* line 1, ../scss/_grid.scss */
.grid, .buttonBody {
  padding: 20px 0 20px 20px;
}

/* line 6, ../scss/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 9, ../scss/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 12, ../scss/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 15, ../scss/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 18, ../scss/_grid.scss */
.col-1-6 {
  width: 16.66%;
}

/* line 21, ../scss/_grid.scss */
.col-1-9 {
  width: 11.11%;
}

/* line 25, ../scss/_grid.scss */
.col-nav {
  text-align: center;
  float: left;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media (max-width: 1150px) {
  /* line 25, ../scss/_grid.scss */
  .col-nav {
    width: 33.33%;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
  }
  /* line 34, ../scss/_grid.scss */
  .col-nav:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  /* line 25, ../scss/_grid.scss */
  .col-nav {
    width: 33.33%;
    margin: 0 0 20px 0;
  }
  /* line 41, ../scss/_grid.scss */
  .col-nav:last-child {
    margin-bottom: 0;
  }
}

/* line 47, ../scss/_grid.scss */
.col {
  text-align: center;
  float: left;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media (max-width: 1150px) {
  /* line 47, ../scss/_grid.scss */
  .col {
    width: 50%;
    margin: 0 0 20px 0;
  }
  /* line 55, ../scss/_grid.scss */
  .col:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  /* line 47, ../scss/_grid.scss */
  .col {
    width: 100%;
    margin: 0 0 20px 0;
  }
  /* line 62, ../scss/_grid.scss */
  .col:last-child {
    margin-bottom: 0;
  }
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 73, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 115, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 132, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 140, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 153, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 162, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 172, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 180, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 189, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 196, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 200, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 212, ../scss/_normalize.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 220, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 232, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 244, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 255, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 269, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 281, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 296, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 306, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 316, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 327, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 340, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 349, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 359, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 372, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local("Cedarville Cursive"), local("Cedarville-Cursive"), url(http://themes.googleusercontent.com/static/fonts/cedarvillecursive/v3/cuCe6HrkcqrWTWTUE7dw-2YEW1clNUI6vvJhfGrjWFk.woff) format("woff");
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local("Righteous"), local("Righteous-Regular"), url(http://themes.googleusercontent.com/static/fonts/righteous/v2/w5P-SI7QJQSDqB3GziL8XbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

/* line 1, ../scss/_toolbox.scss */
.group:after, .grid:after, .buttonBody:after, nav:after, nav #logo:after, .siteHead:after {
  content: "";
  display: block;
  clear: both;
}

/* line 7, ../scss/_toolbox.scss */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* line 3, ../scss/_nav.scss */
nav {
  background: url(../images/texture1_jk.jpg);
  width: 100%;
  padding-top: 1px;
  padding-left: 0;
  display: block;
  top: 0px;
  left: 0px;
  overflow: hidden;
  font-family: 'Cedarville Cursive', cursive;
  position: fixed;
}
/* line 16, ../scss/_nav.scss */
nav .button {
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  height: 125px;
  width: 125px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
}
/* line 26, ../scss/_nav.scss */
nav .smaller .uneven {
  height: 16px;
  position: relative;
  top: 55px;
  left: 0;
  display: block;
  z-index: 100;
}
/* line 37, ../scss/_nav.scss */
nav #logo {
  padding-left: 10px;
  font-size: 2.0em;
  width: 160px;
  height: auto;
  font-weight: bold;
  float: left;
  text-decoration: none;
  color: black;
}
/* line 47, ../scss/_nav.scss */
nav #logo:hover {
  color: #B1ADA5;
}
/* line 53, ../scss/_nav.scss */
nav #tagline {
  width: 320px;
  height: auto;
  margin-left: 30px;
  float: left;
  padding-top: 20px;
  padding-bottom: 11px;
}
@media (max-width: 600px) {
  /* line 53, ../scss/_nav.scss */
  nav #tagline {
    display: none;
  }
}
/* line 66, ../scss/_nav.scss */
nav #expanded {
  display: none;
  align: center;
  width: 100%;
}
@media (max-width: 1150px) {
  /* line 66, ../scss/_nav.scss */
  nav #expanded {
    max-width: 600px;
    margin: 0px auto;
  }
}
@media (max-width: 600px) {
  /* line 66, ../scss/_nav.scss */
  nav #expanded {
    max-width: 400px;
    margin: 0px auto;
  }
}
/* line 79, ../scss/_nav.scss */
nav #expanded #blog {
  padding-top: 40px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D542F', endColorstr='#FF0E130A');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d542f), color-stop(100%, #25331d));
  background: -webkit-linear-gradient(#3d542f, #25331d);
  background: -moz-linear-gradient(#3d542f, #25331d);
  background: -o-linear-gradient(#3d542f, #25331d);
  background: linear-gradient(#3d542f, #25331d);
  -webkit-box-shadow: #61854a 0 1px 0 inset;
  -moz-box-shadow: #61854a 0 1px 0 inset;
  box-shadow: #61854a 0 1px 0 inset;
  border: 1px solid #192314;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #blog:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #blog:hover {
  background-color: #192314;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #314426), color-stop(100%, #192314));
  background: -webkit-linear-gradient(#314426, #192314);
  background: -moz-linear-gradient(#314426, #192314);
  background: -o-linear-gradient(#314426, #192314);
  background: linear-gradient(#314426, #192314);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #blog:active {
  -webkit-box-shadow: #12190e 0 1px 2px inset;
  -moz-box-shadow: #12190e 0 1px 2px inset;
  box-shadow: #12190e 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #blog.disabled, nav #expanded #blog[disabled] {
  opacity: 0.6;
  background: #25331d;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 84, ../scss/_nav.scss */
nav #expanded #portfolio {
  padding-top: 40px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF685B2F', endColorstr='#FF221E0F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #685b2f), color-stop(100%, #453c1f));
  background: -webkit-linear-gradient(#685b2f, #453c1f);
  background: -moz-linear-gradient(#685b2f, #453c1f);
  background: -o-linear-gradient(#685b2f, #453c1f);
  background: linear-gradient(#685b2f, #453c1f);
  -webkit-box-shadow: #9d8947 0 1px 0 inset;
  -moz-box-shadow: #9d8947 0 1px 0 inset;
  box-shadow: #9d8947 0 1px 0 inset;
  border: 1px solid #332d17;
  color: white;
  text-shadow: #0d0b06 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #portfolio:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #portfolio:hover {
  background-color: #332d17;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #564c27), color-stop(100%, #332d17));
  background: -webkit-linear-gradient(#564c27, #332d17);
  background: -moz-linear-gradient(#564c27, #332d17);
  background: -o-linear-gradient(#564c27, #332d17);
  background: linear-gradient(#564c27, #332d17);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #portfolio:active {
  -webkit-box-shadow: #292412 0 1px 2px inset;
  -moz-box-shadow: #292412 0 1px 2px inset;
  box-shadow: #292412 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #portfolio.disabled, nav #expanded #portfolio[disabled] {
  opacity: 0.6;
  background: #453c1f;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 89, ../scss/_nav.scss */
nav #expanded #work {
  padding-top: 35px;
  line-height: 20px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1ADA5', endColorstr='#FF817B6F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b1ada5), color-stop(100%, #99948a));
  background: -webkit-linear-gradient(#b1ada5, #99948a);
  background: -moz-linear-gradient(#b1ada5, #99948a);
  background: -o-linear-gradient(#b1ada5, #99948a);
  background: linear-gradient(#b1ada5, #99948a);
  -webkit-box-shadow: #d5d2ce 0 1px 0 inset;
  -moz-box-shadow: #d5d2ce 0 1px 0 inset;
  box-shadow: #d5d2ce 0 1px 0 inset;
  border: 1px solid #8d887c;
  color: white;
  text-shadow: #706b61 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #work:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #work:hover {
  background-color: #8d887c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5a197), color-stop(100%, #8d887c));
  background: -webkit-linear-gradient(#a5a197, #8d887c);
  background: -moz-linear-gradient(#a5a197, #8d887c);
  background: -o-linear-gradient(#a5a197, #8d887c);
  background: linear-gradient(#a5a197, #8d887c);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #work:active {
  -webkit-box-shadow: #868074 0 1px 2px inset;
  -moz-box-shadow: #868074 0 1px 2px inset;
  box-shadow: #868074 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #work.disabled, nav #expanded #work[disabled] {
  opacity: 0.6;
  background: #99948a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 95, ../scss/_nav.scss */
nav #expanded #twitter {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4099FF', endColorstr='#FF0065D9');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4099ff), color-stop(100%, #0d7eff));
  background: -webkit-linear-gradient(#4099ff, #0d7eff);
  background: -moz-linear-gradient(#4099ff, #0d7eff);
  background: -o-linear-gradient(#4099ff, #0d7eff);
  background: linear-gradient(#4099ff, #0d7eff);
  -webkit-box-shadow: #8dc2ff 0 1px 0 inset;
  -moz-box-shadow: #8dc2ff 0 1px 0 inset;
  box-shadow: #8dc2ff 0 1px 0 inset;
  border: 1px solid #0071f3;
  color: white;
  text-shadow: #0057ba 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #twitter:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #twitter:hover {
  background-color: #0071f3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #268bff), color-stop(100%, #0071f3));
  background: -webkit-linear-gradient(#268bff, #0071f3);
  background: -moz-linear-gradient(#268bff, #0071f3);
  background: -o-linear-gradient(#268bff, #0071f3);
  background: linear-gradient(#268bff, #0071f3);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #twitter:active {
  -webkit-box-shadow: #006ae3 0 1px 2px inset;
  -moz-box-shadow: #006ae3 0 1px 2px inset;
  box-shadow: #006ae3 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #twitter.disabled, nav #expanded #twitter[disabled] {
  opacity: 0.6;
  background: #0d7eff;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 97, ../scss/_nav.scss */
nav #expanded #twitter img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  /* Half the height */
  margin-left: -75px;
  /* Half the width */
}
/* line 108, ../scss/_nav.scss */
nav #expanded #gplus {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF141414', endColorstr='#FF000000');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #141414), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#141414, #000000);
  background: -moz-linear-gradient(#141414, #000000);
  background: -o-linear-gradient(#141414, #000000);
  background: linear-gradient(#141414, #000000);
  -webkit-box-shadow: #3a3a3a 0 1px 0 inset;
  -moz-box-shadow: #3a3a3a 0 1px 0 inset;
  box-shadow: #3a3a3a 0 1px 0 inset;
  border: 1px solid black;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #gplus:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #gplus:hover {
  background-color: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #070707), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#070707, #000000);
  background: -moz-linear-gradient(#070707, #000000);
  background: -o-linear-gradient(#070707, #000000);
  background: linear-gradient(#070707, #000000);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #gplus:active {
  -webkit-box-shadow: black 0 1px 2px inset;
  -moz-box-shadow: black 0 1px 2px inset;
  box-shadow: black 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #gplus.disabled, nav #expanded #gplus[disabled] {
  opacity: 0.6;
  background: black;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 110, ../scss/_nav.scss */
nav #expanded #gplus img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -51px;
  /* Half the height */
  margin-left: -63px;
  /* Half the width */
}
/* line 120, ../scss/_nav.scss */
nav #expanded #github {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBEBEB', endColorstr='#FFB8B8B8');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(#ebebeb, #d2d2d2);
  background: -moz-linear-gradient(#ebebeb, #d2d2d2);
  background: -o-linear-gradient(#ebebeb, #d2d2d2);
  background: linear-gradient(#ebebeb, #d2d2d2);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #c5c5c5;
  color: white;
  text-shadow: darkgrey 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #github:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #github:hover {
  background-color: #c5c5c5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #c5c5c5));
  background: -webkit-linear-gradient(#dedede, #c5c5c5);
  background: -moz-linear-gradient(#dedede, #c5c5c5);
  background: -o-linear-gradient(#dedede, #c5c5c5);
  background: linear-gradient(#dedede, #c5c5c5);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #github:active {
  -webkit-box-shadow: #bdbdbd 0 1px 2px inset;
  -moz-box-shadow: #bdbdbd 0 1px 2px inset;
  box-shadow: #bdbdbd 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #github.disabled, nav #expanded #github[disabled] {
  opacity: 0.6;
  background: #d2d2d2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 122, ../scss/_nav.scss */
nav #expanded #github img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -51px;
  /* Half the height */
  margin-left: -63px;
  /* Half the width */
}
/* line 132, ../scss/_nav.scss */
nav #expanded #bitbucket {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF003366', endColorstr='#FF000000');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003366), color-stop(100%, #001933));
  background: -webkit-linear-gradient(#003366, #001933);
  background: -moz-linear-gradient(#003366, #001933);
  background: -o-linear-gradient(#003366, #001933);
  background: linear-gradient(#003366, #001933);
  -webkit-box-shadow: #0059b3 0 1px 0 inset;
  -moz-box-shadow: #0059b3 0 1px 0 inset;
  box-shadow: #0059b3 0 1px 0 inset;
  border: 1px solid #000d1a;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #bitbucket:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #bitbucket:hover {
  background-color: #000d1a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00264d), color-stop(100%, #000d1a));
  background: -webkit-linear-gradient(#00264d, #000d1a);
  background: -moz-linear-gradient(#00264d, #000d1a);
  background: -o-linear-gradient(#00264d, #000d1a);
  background: linear-gradient(#00264d, #000d1a);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #bitbucket:active {
  -webkit-box-shadow: #00050a 0 1px 2px inset;
  -moz-box-shadow: #00050a 0 1px 2px inset;
  box-shadow: #00050a 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #bitbucket.disabled, nav #expanded #bitbucket[disabled] {
  opacity: 0.6;
  background: #001933;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 134, ../scss/_nav.scss */
nav #expanded #bitbucket img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -51px;
  /* Half the height */
  margin-left: -63px;
  /* Half the width */
}
/* line 144, ../scss/_nav.scss */
nav #expanded #lanyrd {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2C68C1', endColorstr='#FF193B6E');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c68c1), color-stop(100%, #235297));
  background: -webkit-linear-gradient(#2c68c1, #235297);
  background: -moz-linear-gradient(#2c68c1, #235297);
  background: -o-linear-gradient(#2c68c1, #235297);
  background: linear-gradient(#2c68c1, #235297);
  -webkit-box-shadow: #5f91db 0 1px 0 inset;
  -moz-box-shadow: #5f91db 0 1px 0 inset;
  box-shadow: #5f91db 0 1px 0 inset;
  border: 1px solid #1e4683;
  color: white;
  text-shadow: #132e55 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #lanyrd:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #lanyrd:hover {
  background-color: #1e4683;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #275dac), color-stop(100%, #1e4683));
  background: -webkit-linear-gradient(#275dac, #1e4683);
  background: -moz-linear-gradient(#275dac, #1e4683);
  background: -o-linear-gradient(#275dac, #1e4683);
  background: linear-gradient(#275dac, #1e4683);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #lanyrd:active {
  -webkit-box-shadow: #1b4076 0 1px 2px inset;
  -moz-box-shadow: #1b4076 0 1px 2px inset;
  box-shadow: #1b4076 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #lanyrd.disabled, nav #expanded #lanyrd[disabled] {
  opacity: 0.6;
  background: #235297;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 146, ../scss/_nav.scss */
nav #expanded #lanyrd img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -51px;
  /* Half the height */
  margin-left: -63px;
  /* Half the width */
}
/* line 155, ../scss/_nav.scss */
nav #expanded #linkedin {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF444444', endColorstr='#FF111111');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #2b2b2b));
  background: -webkit-linear-gradient(#444444, #2b2b2b);
  background: -moz-linear-gradient(#444444, #2b2b2b);
  background: -o-linear-gradient(#444444, #2b2b2b);
  background: linear-gradient(#444444, #2b2b2b);
  -webkit-box-shadow: #6a6a6a 0 1px 0 inset;
  -moz-box-shadow: #6a6a6a 0 1px 0 inset;
  box-shadow: #6a6a6a 0 1px 0 inset;
  border: 1px solid #1e1e1e;
  color: white;
  text-shadow: #020202 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #linkedin:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #linkedin:hover {
  background-color: #1e1e1e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #1e1e1e));
  background: -webkit-linear-gradient(#373737, #1e1e1e);
  background: -moz-linear-gradient(#373737, #1e1e1e);
  background: -o-linear-gradient(#373737, #1e1e1e);
  background: linear-gradient(#373737, #1e1e1e);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #linkedin:active {
  -webkit-box-shadow: #161616 0 1px 2px inset;
  -moz-box-shadow: #161616 0 1px 2px inset;
  box-shadow: #161616 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
nav #expanded #linkedin.disabled, nav #expanded #linkedin[disabled] {
  opacity: 0.6;
  background: #2b2b2b;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 157, ../scss/_nav.scss */
nav #expanded #linkedin img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -51px;
  /* Half the height */
  margin-left: -63px;
  /* Half the width */
}
/* line 168, ../scss/_nav.scss */
nav #showMore {
  float: right;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 11px;
  color: black;
}
/* line 175, ../scss/_nav.scss */
nav #showMore:hover {
  color: #B1ADA5;
}

/* line 181, ../scss/_nav.scss */
#mainNavSpace {
  width: 100%;
  display: block;
  height: 61px;
}

/* line 186, ../scss/_nav.scss */
#expandedSpace {
  display: none;
  width: 100%;
  height: 164px;
}
@media (max-width: 1150px) {
  /* line 186, ../scss/_nav.scss */
  #expandedSpace {
    height: 450px;
  }
}

/* line 10, ../scss/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../scss/global.scss */
html {
  margin: 0;
  background: url(../images/bedge_grunge.png);
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 14, ../scss/global.scss */
  html {
    background: url(../images/bedge_grunge_@2X.png);
    background-size: 50%;
  }
}

/* line 25, ../scss/global.scss */
.siteHead {
  background: url(../images/texture1_jk.jpg);
  width: 100%;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 2.0em;
  display: block;
}
/* line 34, ../scss/global.scss */
.siteHead h1 {
  font-size: 6.2em;
  margin-top: .5em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  line-height: 1.0em;
  width: 100%;
  font-family: 'Cedarville Cursive', cursive;
}
/* line 45, ../scss/global.scss */
.siteHead .siteHeadText {
  margin-top: 0;
  font-size: 1.3em;
  font-family: 'Cedarville Cursive', cursive;
}
/* line 51, ../scss/global.scss */
.siteHead #uneven_border {
  background: url(../images/uneven.png) repeat-x 0 0;
  height: 16px;
  position: relative;
  top: 40px;
  left: 0;
  display: block;
  z-index: 100;
}

/* line 62, ../scss/global.scss */
.buttonBody {
  padding-top: 40px 20px;
  display: block;
  vertical-align: middle;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1150px) {
  /* line 62, ../scss/global.scss */
  .buttonBody {
    max-width: 600px;
  }
}

/* line 75, ../scss/global.scss */
.buttonWrap {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

/* line 81, ../scss/global.scss */
.button {
  font-size: 40px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  height: 250px;
  width: 250px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
}

/* line 90, ../scss/global.scss */
.module {
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  padding: 10px 20px;
  margin: 20px 20px;
  background-color: rgba(128, 128, 128, 0.3);
}
/* line 96, ../scss/global.scss */
.module h2 {
  font-family: 'Cedarville Cursive', cursive;
}
