/* line 5, ../scss/home.scss */
#blog {
  padding-top: 80px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D542F', endColorstr='#FF0E130A');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d542f), color-stop(100%, #25331d));
  background: -webkit-linear-gradient(#3d542f, #25331d);
  background: -moz-linear-gradient(#3d542f, #25331d);
  background: -o-linear-gradient(#3d542f, #25331d);
  background: linear-gradient(#3d542f, #25331d);
  -webkit-box-shadow: #61854a 0 1px 0 inset;
  -moz-box-shadow: #61854a 0 1px 0 inset;
  box-shadow: #61854a 0 1px 0 inset;
  border: 1px solid #192314;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#blog:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#blog:hover {
  background-color: #192314;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #314426), color-stop(100%, #192314));
  background: -webkit-linear-gradient(#314426, #192314);
  background: -moz-linear-gradient(#314426, #192314);
  background: -o-linear-gradient(#314426, #192314);
  background: linear-gradient(#314426, #192314);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#blog:active {
  -webkit-box-shadow: #12190e 0 1px 2px inset;
  -moz-box-shadow: #12190e 0 1px 2px inset;
  box-shadow: #12190e 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#blog.disabled, #blog[disabled] {
  opacity: 0.6;
  background: #25331d;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 10, ../scss/home.scss */
#portfolio {
  padding-top: 80px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF685B2F', endColorstr='#FF221E0F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #685b2f), color-stop(100%, #453c1f));
  background: -webkit-linear-gradient(#685b2f, #453c1f);
  background: -moz-linear-gradient(#685b2f, #453c1f);
  background: -o-linear-gradient(#685b2f, #453c1f);
  background: linear-gradient(#685b2f, #453c1f);
  -webkit-box-shadow: #9d8947 0 1px 0 inset;
  -moz-box-shadow: #9d8947 0 1px 0 inset;
  box-shadow: #9d8947 0 1px 0 inset;
  border: 1px solid #332d17;
  color: white;
  text-shadow: #0d0b06 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#portfolio:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#portfolio:hover {
  background-color: #332d17;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #564c27), color-stop(100%, #332d17));
  background: -webkit-linear-gradient(#564c27, #332d17);
  background: -moz-linear-gradient(#564c27, #332d17);
  background: -o-linear-gradient(#564c27, #332d17);
  background: linear-gradient(#564c27, #332d17);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#portfolio:active {
  -webkit-box-shadow: #292412 0 1px 2px inset;
  -moz-box-shadow: #292412 0 1px 2px inset;
  box-shadow: #292412 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#portfolio.disabled, #portfolio[disabled] {
  opacity: 0.6;
  background: #453c1f;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 15, ../scss/home.scss */
#work {
  padding-top: 70px;
  line-height: 35px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1ADA5', endColorstr='#FF817B6F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b1ada5), color-stop(100%, #99948a));
  background: -webkit-linear-gradient(#b1ada5, #99948a);
  background: -moz-linear-gradient(#b1ada5, #99948a);
  background: -o-linear-gradient(#b1ada5, #99948a);
  background: linear-gradient(#b1ada5, #99948a);
  -webkit-box-shadow: #d5d2ce 0 1px 0 inset;
  -moz-box-shadow: #d5d2ce 0 1px 0 inset;
  box-shadow: #d5d2ce 0 1px 0 inset;
  border: 1px solid #8d887c;
  color: white;
  text-shadow: #706b61 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#work:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#work:hover {
  background-color: #8d887c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5a197), color-stop(100%, #8d887c));
  background: -webkit-linear-gradient(#a5a197, #8d887c);
  background: -moz-linear-gradient(#a5a197, #8d887c);
  background: -o-linear-gradient(#a5a197, #8d887c);
  background: linear-gradient(#a5a197, #8d887c);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#work:active {
  -webkit-box-shadow: #868074 0 1px 2px inset;
  -moz-box-shadow: #868074 0 1px 2px inset;
  box-shadow: #868074 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#work.disabled, #work[disabled] {
  opacity: 0.6;
  background: #99948a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 21, ../scss/home.scss */
#twitter {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4099FF', endColorstr='#FF0065D9');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4099ff), color-stop(100%, #0d7eff));
  background: -webkit-linear-gradient(#4099ff, #0d7eff);
  background: -moz-linear-gradient(#4099ff, #0d7eff);
  background: -o-linear-gradient(#4099ff, #0d7eff);
  background: linear-gradient(#4099ff, #0d7eff);
  -webkit-box-shadow: #8dc2ff 0 1px 0 inset;
  -moz-box-shadow: #8dc2ff 0 1px 0 inset;
  box-shadow: #8dc2ff 0 1px 0 inset;
  border: 1px solid #0071f3;
  color: white;
  text-shadow: #0057ba 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#twitter:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#twitter:hover {
  background-color: #0071f3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #268bff), color-stop(100%, #0071f3));
  background: -webkit-linear-gradient(#268bff, #0071f3);
  background: -moz-linear-gradient(#268bff, #0071f3);
  background: -o-linear-gradient(#268bff, #0071f3);
  background: linear-gradient(#268bff, #0071f3);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#twitter:active {
  -webkit-box-shadow: #006ae3 0 1px 2px inset;
  -moz-box-shadow: #006ae3 0 1px 2px inset;
  box-shadow: #006ae3 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#twitter.disabled, #twitter[disabled] {
  opacity: 0.6;
  background: #0d7eff;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 23, ../scss/home.scss */
#twitter img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  /* Half the height */
  margin-left: -150px;
  /* Half the width */
}

/* line 34, ../scss/home.scss */
#facebook {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3B5998', endColorstr='#FF1E2E4F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b5998), color-stop(100%, #2d4373));
  background: -webkit-linear-gradient(#3b5998, #2d4373);
  background: -moz-linear-gradient(#3b5998, #2d4373);
  background: -o-linear-gradient(#3b5998, #2d4373);
  background: linear-gradient(#3b5998, #2d4373);
  -webkit-box-shadow: #5f7ec1 0 1px 0 inset;
  -moz-box-shadow: #5f7ec1 0 1px 0 inset;
  box-shadow: #5f7ec1 0 1px 0 inset;
  border: 1px solid #263961;
  color: white;
  text-shadow: #162138 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#facebook:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#facebook:hover {
  background-color: #263961;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #344e86), color-stop(100%, #263961));
  background: -webkit-linear-gradient(#344e86, #263961);
  background: -moz-linear-gradient(#344e86, #263961);
  background: -o-linear-gradient(#344e86, #263961);
  background: linear-gradient(#344e86, #263961);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#facebook:active {
  -webkit-box-shadow: #213256 0 1px 2px inset;
  -moz-box-shadow: #213256 0 1px 2px inset;
  box-shadow: #213256 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#facebook.disabled, #facebook[disabled] {
  opacity: 0.6;
  background: #2d4373;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 36, ../scss/home.scss */
#facebook img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 85px;
  height: auto;
  margin-top: -58px;
  margin-left: -10px;
}

/* line 47, ../scss/home.scss */
#github {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBEBEB', endColorstr='#FFB8B8B8');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(#ebebeb, #d2d2d2);
  background: -moz-linear-gradient(#ebebeb, #d2d2d2);
  background: -o-linear-gradient(#ebebeb, #d2d2d2);
  background: linear-gradient(#ebebeb, #d2d2d2);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #c5c5c5;
  color: white;
  text-shadow: darkgrey 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#github:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#github:hover {
  background-color: #c5c5c5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #c5c5c5));
  background: -webkit-linear-gradient(#dedede, #c5c5c5);
  background: -moz-linear-gradient(#dedede, #c5c5c5);
  background: -o-linear-gradient(#dedede, #c5c5c5);
  background: linear-gradient(#dedede, #c5c5c5);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#github:active {
  -webkit-box-shadow: #bdbdbd 0 1px 2px inset;
  -moz-box-shadow: #bdbdbd 0 1px 2px inset;
  box-shadow: #bdbdbd 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#github.disabled, #github[disabled] {
  opacity: 0.6;
  background: #d2d2d2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 49, ../scss/home.scss */
#github img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -102px;
  /* Half the height */
  margin-left: -125px;
  /* Half the width */
}

/* line 59, ../scss/home.scss */
#bitbucket {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF003366', endColorstr='#FF000000');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003366), color-stop(100%, #001933));
  background: -webkit-linear-gradient(#003366, #001933);
  background: -moz-linear-gradient(#003366, #001933);
  background: -o-linear-gradient(#003366, #001933);
  background: linear-gradient(#003366, #001933);
  -webkit-box-shadow: #0059b3 0 1px 0 inset;
  -moz-box-shadow: #0059b3 0 1px 0 inset;
  box-shadow: #0059b3 0 1px 0 inset;
  border: 1px solid #000d1a;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#bitbucket:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#bitbucket:hover {
  background-color: #000d1a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00264d), color-stop(100%, #000d1a));
  background: -webkit-linear-gradient(#00264d, #000d1a);
  background: -moz-linear-gradient(#00264d, #000d1a);
  background: -o-linear-gradient(#00264d, #000d1a);
  background: linear-gradient(#00264d, #000d1a);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#bitbucket:active {
  -webkit-box-shadow: #00050a 0 1px 2px inset;
  -moz-box-shadow: #00050a 0 1px 2px inset;
  box-shadow: #00050a 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#bitbucket.disabled, #bitbucket[disabled] {
  opacity: 0.6;
  background: #001933;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 61, ../scss/home.scss */
#bitbucket img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -102px;
  /* Half the height */
  margin-left: -125px;
  /* Half the width */
}

/* line 71, ../scss/home.scss */
#lanyrd {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2C68C1', endColorstr='#FF193B6E');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c68c1), color-stop(100%, #235297));
  background: -webkit-linear-gradient(#2c68c1, #235297);
  background: -moz-linear-gradient(#2c68c1, #235297);
  background: -o-linear-gradient(#2c68c1, #235297);
  background: linear-gradient(#2c68c1, #235297);
  -webkit-box-shadow: #5f91db 0 1px 0 inset;
  -moz-box-shadow: #5f91db 0 1px 0 inset;
  box-shadow: #5f91db 0 1px 0 inset;
  border: 1px solid #1e4683;
  color: white;
  text-shadow: #132e55 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#lanyrd:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#lanyrd:hover {
  background-color: #1e4683;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #275dac), color-stop(100%, #1e4683));
  background: -webkit-linear-gradient(#275dac, #1e4683);
  background: -moz-linear-gradient(#275dac, #1e4683);
  background: -o-linear-gradient(#275dac, #1e4683);
  background: linear-gradient(#275dac, #1e4683);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#lanyrd:active {
  -webkit-box-shadow: #1b4076 0 1px 2px inset;
  -moz-box-shadow: #1b4076 0 1px 2px inset;
  box-shadow: #1b4076 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#lanyrd.disabled, #lanyrd[disabled] {
  opacity: 0.6;
  background: #235297;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../scss/home.scss */
#lanyrd img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -102px;
  /* Half the height */
  margin-left: -125px;
  /* Half the width */
}

/* line 82, ../scss/home.scss */
#linkedin {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF444444', endColorstr='#FF111111');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #2b2b2b));
  background: -webkit-linear-gradient(#444444, #2b2b2b);
  background: -moz-linear-gradient(#444444, #2b2b2b);
  background: -o-linear-gradient(#444444, #2b2b2b);
  background: linear-gradient(#444444, #2b2b2b);
  -webkit-box-shadow: #6a6a6a 0 1px 0 inset;
  -moz-box-shadow: #6a6a6a 0 1px 0 inset;
  box-shadow: #6a6a6a 0 1px 0 inset;
  border: 1px solid #1e1e1e;
  color: white;
  text-shadow: #020202 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#linkedin:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#linkedin:hover {
  background-color: #1e1e1e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #1e1e1e));
  background: -webkit-linear-gradient(#373737, #1e1e1e);
  background: -moz-linear-gradient(#373737, #1e1e1e);
  background: -o-linear-gradient(#373737, #1e1e1e);
  background: linear-gradient(#373737, #1e1e1e);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#linkedin:active {
  -webkit-box-shadow: #161616 0 1px 2px inset;
  -moz-box-shadow: #161616 0 1px 2px inset;
  box-shadow: #161616 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#linkedin.disabled, #linkedin[disabled] {
  opacity: 0.6;
  background: #2b2b2b;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 84, ../scss/home.scss */
#linkedin img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -102px;
  /* Half the height */
  margin-left: -125px;
  /* Half the width */
}

/* line 93, ../scss/home.scss */
#gplus {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF141414', endColorstr='#FF000000');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #141414), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#141414, #000000);
  background: -moz-linear-gradient(#141414, #000000);
  background: -o-linear-gradient(#141414, #000000);
  background: linear-gradient(#141414, #000000);
  -webkit-box-shadow: #3a3a3a 0 1px 0 inset;
  -moz-box-shadow: #3a3a3a 0 1px 0 inset;
  box-shadow: #3a3a3a 0 1px 0 inset;
  border: 1px solid black;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#gplus:hover {
  text-decoration: none;
}
/* line 36, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#gplus:hover {
  background-color: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #070707), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#070707, #000000);
  background: -moz-linear-gradient(#070707, #000000);
  background: -o-linear-gradient(#070707, #000000);
  background: linear-gradient(#070707, #000000);
}
/* line 39, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#gplus:active {
  -webkit-box-shadow: black 0 1px 2px inset;
  -moz-box-shadow: black 0 1px 2px inset;
  box-shadow: black 0 1px 2px inset;
}
/* line 6, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#gplus.disabled, #gplus[disabled] {
  opacity: 0.6;
  background: black;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 95, ../scss/home.scss */
#gplus img {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -102px;
  /* Half the height */
  margin-left: -125px;
  /* Half the width */
}
