$pad: 20px;

@mixin mq($mq) {
  @if $mq == grande {
    @media (max-width: 1150px) { @content; }
  }
  @if $mq == tall {
    @media (max-width: 600px) { @content; }
  }
  @if $mq == retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        @content;
    }
  }
}