.grid {
  padding: $pad 0 $pad $pad;
  @extend .group;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-6 {
  width: 16.66%;
}
.col-1-9 {
  width: 11.11%;
}

.col-nav {
  text-align: center;
  float: left;
  padding-right: $pad;
  padding-bottom: 40px;
  @include mq(grande) {
    width: 33.33%;
    margin: 0 0 $pad 0;
    padding: 0 0 5px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mq(tall) {
    width: 33.33%;
    margin: 0 0 $pad 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col {
  text-align: center;
  float: left;
  padding-right: $pad;
  padding-bottom: 40px;
  @include mq(grande) {
    width: 50%;
    margin: 0 0 $pad 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mq(tall) {
    width: 100%;
    margin: 0 0 $pad 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}