$buttonType: "simple";

nav {
	background: url(../images/texture1_jk.jpg);
	width: 100%;
	padding-top: 1px;
	padding-left:0;
	display:block;
	top:0px;
	left:0px;
	overflow:hidden;
	@extend .group;
	font-family: 'Cedarville Cursive', cursive;
	position: fixed;

	.button { 
		@include sassy-button-structure(25px, 20px);
		height:125px;
		width:125px;
		vertical-align:middle;
		text-align:center;
		font-family: 'Cedarville Cursive', cursive;
	}

	.smaller {
		.uneven {
			// background: url(../images/unevenInvert.png) repeat-x 0 0;
			height: 16px;
			position: relative;
			top: 55px;
			left: 0;
			display: block;
			z-index: 100;
		}
	}

	#logo {
		padding-left:10px;
		font-size: 2.0em;
		width:160px;
		height:auto;
		font-weight:bold;
		float:left;
		text-decoration:none;
		color:black;

		&:hover {
			color:#B1ADA5;
		}
		@extend .group;
	}

	#tagline {
		width:320px;
		// text-align:center;
		height:auto;
		margin-left:30px;
		float:left;
		padding-top:20px;
		padding-bottom:11px;
		@include mq(tall) {
	    	display:none;
		}
	}

	#expanded {
		display:none;
		align:center;
		width:100%;
		@include mq(grande) {
			max-width: 600px;
		    margin: 0px auto;
		}
		@include mq(tall) {
			max-width:400px;
			margin: 0px auto;
		}

		#blog {
			padding-top:40px;
			@include sassy-button-gradient($buttonType, #3D542F);
		}

		#portfolio {
			padding-top:40px;
			@include sassy-button-gradient($buttonType, #685B2F);
		}

		#work {
			padding-top:35px;
			line-height:20px;
			@include sassy-button-gradient($buttonType, #B1ADA5);
		}

		#twitter {
			@include sassy-button-gradient($buttonType, #4099FF);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				width: 150px;
				height: 150px;
				margin-top: -75px; /* Half the height */
				margin-left: -75px; /* Half the width */
			}
		}

		#gplus {
			@include sassy-button-gradient($buttonType, #141414);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				height: 100px;
				margin-top: -51px; /* Half the height */
				margin-left: -63px; /* Half the width */
			}
		}

		#github {
			@include sassy-button-gradient($buttonType, #ebebeb);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				height: 100px;
				margin-top: -51px; /* Half the height */
				margin-left: -63px; /* Half the width */
			}
		}

		#bitbucket {
			@include sassy-button-gradient($buttonType, #003366);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				height: 100px;
				margin-top: -51px; /* Half the height */
				margin-left: -63px; /* Half the width */
			}
		}

		#lanyrd {
			@include sassy-button-gradient($buttonType, #2c68c1);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				height: 100px;
				margin-top: -51px; /* Half the height */
				margin-left: -63px; /* Half the width */
			}
		}
		#linkedin {
			@include sassy-button-gradient($buttonType, #444444);
			img {
				position: relative;
				top: 50%;
				left: 50%;
				height: 100px;
				margin-top: -51px; /* Half the height */
				margin-left: -63px; /* Half the width */
			}
		}
	}

	#showMore {
		float:right;
		padding-top:20px;
		padding-right:15px;
		padding-bottom:11px;
		color:black;

		&:hover {
			color:#B1ADA5;
		}
	}
}

#mainNavSpace {
	width: 100%;
	display:block;
	height:61px;
}
#expandedSpace {
	display:none;
	width: 100%;
	height:164px;
	@include mq(grande) {
		height:450px;
	}
}
