@import "compass/css3";
@import "sassy-buttons";
@import "bits";
@import "grid";
@import "normalize";
@import "fonts";
@import "toolbox";
@import "nav";

* {
  @include box-sizing(border-box);
}

html {
	margin:0;
	background: url(../images/bedge_grunge.png);
	@include mq(retina) {
	    background: url(../images/bedge_grunge_@2X.png);
	    background-size: 50%;
	}
	font-family: 'Open Sans', sans-serif;
	// display: block;
}

.siteHead {
	background: url(../images/texture1_jk.jpg);
	width: 100%;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 2.0em;
	display:block;
	@extend .group;

	h1 {
		font-size: 6.2em;
		margin-top: .5em;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
		line-height: 1.0em;
		width: 100%;
		font-family: 'Cedarville Cursive', cursive;
	}

	.siteHeadText {
		margin-top: 0;
		font-size: 1.3em;
		font-family: 'Cedarville Cursive', cursive;
	}

	#uneven_border {
		background: url(../images/uneven.png) repeat-x 0 0;
		height: 16px;
		position: relative;
		top: 40px;
		left: 0;
		display: block;
		z-index: 100;
	}
}

.buttonBody {
	@extend .grid;
	padding-top: 40px 20px;
	display:block;
	vertical-align:middle;
	text-align:center;
	max-width:1000px;
	@include mq(grande) {
		max-width:600px;
  }
    margin: 0 auto;
}

.buttonWrap {
	width:100%;
	text-align:center;
	padding-top: 30px;
}

.button { 
	@include sassy-button-structure(50px, 40px);
	height:250px;
	width:250px;
	vertical-align:middle;
	text-align:center;
	font-family: 'Cedarville Cursive', cursive;
}

.module {
	@include border-radius(8px, 8px);
	padding:10px 20px;
	margin:20px 20px;
	background-color: rgba(gray, .3);

	h2 {
		font-family: 'Cedarville Cursive', cursive;
	}
}

