@import "compass/css3";
@import "sassy-buttons";
$buttonType: "simple";

#blog {
	padding-top:80px;
	@include sassy-button-gradient($buttonType, #3D542F);
}

#portfolio {
	padding-top:80px;
	@include sassy-button-gradient($buttonType, #685B2F);
}

#work {
	padding-top:70px;
	line-height:35px;
	@include sassy-button-gradient($buttonType, #B1ADA5);
}

#twitter {
	@include sassy-button-gradient($buttonType, #4099FF);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 300px;
		margin-top: -150px; /* Half the height */
		margin-left: -150px; /* Half the width */
	}
}

#facebook {
	@include sassy-button-gradient($buttonType, #3B5998);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		width: 85px;
		height: auto;
		margin-top: -58px;
		margin-left: -10px;
	}
}

#github {
	@include sassy-button-gradient($buttonType, #ebebeb);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		height: 200px;
		margin-top: -102px; /* Half the height */
		margin-left: -125px; /* Half the width */
	}
}

#bitbucket {
	@include sassy-button-gradient($buttonType, #003366);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		height: 200px;
		margin-top: -102px; /* Half the height */
		margin-left: -125px; /* Half the width */
	}
}

#lanyrd {
	@include sassy-button-gradient($buttonType, #2c68c1);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		height: 200px;
		margin-top: -102px; /* Half the height */
		margin-left: -125px; /* Half the width */
	}
}
#linkedin {
	@include sassy-button-gradient($buttonType, #444444);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		height: 200px;
		margin-top: -102px; /* Half the height */
		margin-left: -125px; /* Half the width */
	}
}
#gplus {
	@include sassy-button-gradient($buttonType, #141414);
	img {
		position: relative;
		top: 50%;
		left: 50%;
		height: 200px;
		margin-top: -102px; /* Half the height */
		margin-left: -125px; /* Half the width */
	}
}