@import "compass/css3";
@import "sassy-buttons";
@import "bits";
@import "grid";
@import "normalize";
@import "fonts";
@import "toolbox";
@import "nav";

* {
  @include box-sizing(border-box);
}

canvas {
	max-width: 500px;
	max-height: 500px;
	margin: 0 auto;
}

.buttonBody {
	padding-top: 0px;
}

#threejs-body {
	width:100%;
	text-align: center;
}

.siteHead {
	background: url(../images/outlets.png);
	color: #666;
	@include mq(retina) {
	    background: url(../images/grey_wash_wall_@2X.png);
	    background-size: 50%;
	}
	font-family: 'Righteous', sans-serif;
	width: 100%;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 2.0em;
	display:block;
	@extend .group;

	.siteHeadText {
		margin-top: 0;
		font-size: 1.3em;
	}
	h1 {
		font-weight: normal;
		font-size: 6.2em;
		margin-top: .5em;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
		line-height: 1.0em;
		width: 100%;
	}
}

html {
	font-family: 'Righteous', sans-serif;
	background: url(../images/grey_wash_wall.png);
	@include mq(retina) {
	    background: url(../images/outlets_@2X.png);
	    background-size: 50%;
	}
}

.button {
	color: #777 !important;
	text-align: center;
}

#blog, #portfolio, #work {
	padding-top:105px;
	@include sassy-button-gradient($buttonType, #000);
	background: url(../images/outlets.png);
	color: #666;
	@include mq(retina) {
	    background: url(../images/grey_wash_wall_@2X.png);
	    background-size: 50%;
	}
}

#portfolio {
	text-indent: -13px;

}

#work {
	padding-top:70px;
	line-height:37px;
}

.buttonBody {
	@extend .grid;
	padding-top: 40px 20px;
	display:block;
	vertical-align:middle;
	max-width:1000px;
	@include mq(grande) {
		max-width:600px;
  }
  margin: 0 auto;
}

.buttonWrap {
	width:100%;
	padding-top: 30px;
}

.button { 
	@include sassy-button-structure(10px, 40px);
	height:250px;
	width:250px;
	vertical-align:middle;
	text-align:center;
}

.module {
	@include border-radius(8px, 8px);
	padding:10px 20px;
	margin:20px 20px;
	background-color: rgba(gray, .3);
}
